[Unit]
Description=Yashan Monitor Service (yashandb)
After=network.target

[Service]
ExecStart=/usr/local/bin/yashan_monit.sh bashrc
Type=simple
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=yashan_monit

[Install]
WantedBy=multi-user.target

