[Unit]
Description=Yashan Monitor Service (yashandb)
After=network.target

[Service]
ExecStart=/usr/local/bin/yashan_monit.sh 1688
Type=simple
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=yashan_monit_1688

[Install]
WantedBy=multi-user.target

